/**==========Blueprint==========================*/
.prepend-half-top
{
	margin-top: 0.75em;	
}
 
.hide {display:none;}
.quiet {
	color:#B5B5B5;
}
.loud {color:#000;}
.highlight {background:#ffffce;}
div.prepend-top, .prepend-top {margin-top:1.5em;}
div.append-bottom, .append-bottom {margin-bottom:1.5em;}
.colborder {padding-right:24px;margin-right:25px;border-right:1px solid #ddd;}

div.form div.error label,
div.form label.error,
div.form span.error
{
	color: #C00;		
}

div.form div.error input,
div.form div.error textarea,
div.form div.error select,
div.form input.error,
div.form textarea.error,
div.form select.error
{
	background: #FEE;
	border-color: #b94a48;
}
.file_browse_wrapper {
width: 90px;
height: 35px;
background: blue;
border:none;
overflow:hidden;
}
#pic_bg
{	
	display:none;	
}
.close
{
	font-size:16px;
}

ul.good_list
{
	margin-top:5px;
}

ul.good_list li
{
	list-style-image:url(img/good-mark.png);
}

ul.bad_list
{
	margin-top:5px;
}

ul.bad_list li
{
	list-style-image:url(img/bad-mark.png);
}


div.form .errorMessage, .errorMessage
{
	color: #b94a48;
	font-size: 0.9em;
}
.note
{
	font-style: italic;
}
.green
{
	color: #6F6A15;
}

/**==============End Blueprint=================*/


/**========Zurb==============================*/
/*    --------------------------------------------------
    Tabs
    -------------------------------------------------- */
		dl.tabs { display: block; margin: 0 0 20px 0; padding: 0; height: 30px; border-bottom: solid 1px #ddd; }
    dl.tabs dt { display: block; width: auto; height: 30px; padding: 0 9px 0 20px; line-height: 30px; float: left; color: #999; font-size: 11px; text-transform: uppercase; cursor: default; }
    dl.tabs dt:first-child { padding: 0 9px 0 0; }
    dl.tabs dd { display: block; width: auto; height: 30px; padding: 0; float: left; }
    dl.tabs dd a { display: block; width: auto; height: 29px; padding: 0 9px; line-height: 30px; border: solid 1px #ddd; margin: 0 -1px 0 0; color: #555; background: #eee; }
    dl.tabs dd a.active { background: #fff; border-width: 1px 1px 0 1px; height: 30px; }

		.nice.tabs { border-bottom: solid 1px #eee; margin: 0 0 30px 0; height:43px; }
		.nice.tabs dd a { padding: 7px 18px 9px; font-size: 15px; font-size: 1.5rem; color: #555555; background: none; border: none; }
		.nice.tabs dd a.active { font-weight: bold; color: #333; background: #fff; border-left: 1px solid #eee; border-right: 1px solid #eee; border-top: 3px solid #00a6fc; margin: 0 10px; position: relative; top: -5px; }
		.nice.tabs dd:first-child a.active { margin-left: 0; }
		
	dl.tabs.vertical { height: auto; }
	dl.tabs.vertical dt, dl.tabs.vertical dd, dl.nice.tabs.vertical dt, dl.nice.tabs.vertical dd { float: none; height: auto; }
	dl.tabs.vertical dd a { display: block; width: auto; height: auto; padding: 15px 20px; line-height: 1; border: solid 0 #ccc; border-width: 1px 1px 0; margin: 0; color: #555; background: #eee; font-size: 15px; font-size: 1.5rem; }
	dl.tabs.vertical dd a.active { height: auto; margin: 0; border-width: 1px 0 0; background: #fff; }
	
		.nice.tabs.vertical { border-bottom: solid 1px #eee; height: auto; }
		.nice.tabs.vertical dd a { padding: 15px 20px; border: none; border-left: 1px solid #eee; border-right: 1px solid #eee; border-top: 1px solid #eee; background: #fff; }
		.nice.tabs.vertical dd a.active { border: none; background: #d0a113; color: #fff; margin: 0; position: static; top: 0; height: auto; }
		.nice.tabs.vertical dd:first-child a.active { margin: 0; }
    
    ul.tabs-content { margin: 0; display: block; }
    ul.tabs-content>li { display:none; }
    ul.tabs-content>li.active { display: block; }
    
    dl.contained, dl.nice.contained { margin-bottom: 0; }
    dl.contained.tabs dd a { padding: 0 14px; }
    dl.nice.contained.tabs dd a { padding: 7px 18px 9px; }

    ul.contained.tabs-content { padding: 0; }
	ul.contained.tabs-content>li { padding: 20px; border: solid 0 #ddd; border-width: 0 1px 1px 1px; }
	ul.nice.contained.tabs-content>li { border-color: #eee; }
	
	/*	--------------------------------------------------
	Buttons
	-------------------------------------------------- */

	.button {
		background: #00a6fc;
		display: inline-block;
		text-align: center;
		padding: 9px 34px 11px;
		color: #fff;
		text-decoration: none;
		font-weight: bold;
		line-height: 1;
		font-family: "Helvetica Neue", "Helvetica", Arial, Verdana, sans-serif;
		position: relative;
		cursor: pointer;
		border: none;
	}
	
  	/* Don't use native buttons on iOS */
	input[type=submit].button, button.button { -webkit-appearance: none; }
	
	.button.nice { 
		background: #00a6fc url(../images/misc/button-gloss.png) repeat-x 0 -34px;
		-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.5);
		-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.5);
		text-shadow: 0 -1px 1px rgba(0,0,0,0.28);
		background: #00a6fc url(../images/misc/button-gloss.png) repeat-x 0 -34px, -moz-linear-gradient(top, rgba(255,255,255,.4) 0%, transparent 100%);
		background: #00a6fc url(../images/misc/button-gloss.png) repeat-x 0 -34px, -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.4)), color-stop(100%,transparent));
		border: 1px solid #0593dc;
		-webkit-transition: background-color .15s ease-in-out;
		-moz-transition: background-color .15s ease-in-out;
		-o-transition: background-color .15s ease-in-out;
	}

	.button.radius {
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		border-radius: 3px;
	}
	.button.round {
		-moz-border-radius: 1000px;
		-webkit-border-radius: 1000px;
		border-radius: 1000px;
	}

	.button.full-width {
		width: 100%;
		padding-left: 0 !important;
		padding-right: 0 !important;
		text-align: center;
	}

	.button.left-align {
		text-align: left;
		text-indent: 12px;
	}
	
	
	/* Sizes ---------- */
	.really.small.button 	{ font-size: 10px; padding: 4px 10px 6px; width: auto; }
	.small.button 			{ font-size: 11px; padding: 8px 20px 10px; width: auto; }
	.medium.button 			{ font-size: 13px; width: auto; }
	.large.button 			{ font-size: 18px; padding: 11px 48px 13px; width: auto; }

	/* Nice Sizes ---------- */
	.nice.small.button 		{ background-position: 0 -36px; }
	.nice.large.button 		{ background-position: 0 -30px; }

	/* Colors ---------- */
	.blue.button			{ background-color: #00a6fc;  }
	.red.button				{ background-color: #e91c21; }
	.white.button			{ background-color: #e9e9e9; color: #333; }
	.black.button			{ background-color: #141414; }
	.gold.button			{ background-color: #D0A113;  }	
	.add.white.button		{background:url(img/add.png) 5px 5px no-repeat #e9e9e9; color: #333; padding-right: 13px; }
	.remove.white.button	{background:url(img/remove.png) 5px 8px no-repeat #e9e9e9; color: #333; padding-right: 13px; }
	.back.white.button		{background:url(img/previous.png) 5px 8px no-repeat #e9e9e9; color: #333; padding-right: 8px; }
	.add.small.white.button		{background:url(img/small_add.png) 5px 8px no-repeat #e9e9e9; color: #333; padding-right: 8px; }
	
	/* Nice Colors ---------- */
	.nice.blue.button		{ border: 1px solid #0593dc;  }
	.nice.red.button		{ border: 1px solid #b90b0b;  }
	.nice.white.button		{ border: 1px solid #cacaca; text-shadow: none !important; }
	.nice.black.button		{ border: 1px solid #000; }
	.nice.gold.button		{ border: 1px solid #D0A113; }	
	
	/* Hovers ---------- */
	.button:hover, .button:focus 				{ background-color: #0192dd; color: #fff; }
	.blue.button:hover, .blue.button:focus		{ background-color: #0192dd; 	}
	.red.button:hover, .red.button:focus 		{ background-color: #d01217; 	}
	.white.button:hover, .white.button:focus	{ background-color: #dadada; color: #333; }
	.black.button:hover, .black.button:focus	{ background-color: #000; }
		.gold.button:hover, .gold.button:focus		{ background-color: #cc9900;}
	
	/* Disabled ---------- */
	.button.disabled, .button[disabled] { opacity: 0.6; cursor: default; }

	/*	--------------------------------------------------
	Panels
	-------------------------------------------------- */
	div.panel {
		padding: 20px 20px 2px 20px;
		background: #efefef;
		background: -moz-linear-gradient(top, #FFFFFF 0%, #F4F4F4 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#F4F4F4));
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#F4F4F4',GradientType=0 );
		box-shadow: 0 2px 5px rgba(0,0,0,0.15);
		-webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.15);
		-moz-box-shadow: 0 2px 5px rgba(0,0,0,0.25);
		margin: 0 0 20px 0;
	}
/*  --------------------------------------------------
    Pagination
    -------------------------------------------------- */
	
    ul.pagination { display: block; height: 24px; margin-left: -5px; }
    ul.pagination li { float: left; display: block; height: 24px; color: #999; font-size: 15px; margin-left: 5px; }
    ul.pagination li a { display: block; padding: 6px 7px 4px; color: #555; border: none;	}
	ul.pagination li.next { float: left; display: block; height: 24px; color: #999; font-size: 15px; margin-left: 5px; }
    ul.pagination li.next a { display: block; padding: 6px 7px 4px; color: #555; }
    ul.pagination li.active a, ul.pagination li:hover a, ul.pagination li a:focus { border-bottom: solid 2px #d0a113; color: #141414; }
    ul.pagination li.disabled a { cursor: default; color: #999; }
    ul.pagination li.disabled:hover a, ul.pagination li.disabled a:focus { border-bottom: none; }
	
	/*	--------------------------------------------------
	Reveal Modals
	-------------------------------------------------- */
		
	.reveal-modal-bg { 
		position: fixed; 
		height: 100%;
		width: 100%;
		background: #000;
		z-index: 40;
		display: none;
		top: 0;
		left: 0; 
		}
	
	.reveal-modal {
		visibility: hidden;
		top: 100px; 
		left: 50%;
		margin-left: -300px;
		width: 520px;
		background: #eee url(../images/misc/modal-gloss.png) no-repeat -200px -80px;
		position: absolute;
		z-index: 41;
		padding: 30px 40px 34px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		-moz-box-shadow: 0 0 10px rgba(0,0,0,.4);
		-webkit-box-shadow: 0 0 10px rgba(0,0,0,.4);
		box-shadow: 0 0 10px rgba(0,0,0,.4);
		}
		
	.reveal-modal.small 		{ width: 200px; margin-left: -140px;}
	.reveal-modal.medium 		{ width: 400px; margin-left: -240px;}
	.reveal-modal.large 		{ width: 600px; margin-left: -340px;}
	.reveal-modal.xlarge 		{ width: 800px; margin-left: -440px;}
	
	.reveal-modal .close-reveal-modal, .giant-reveal-modal .close-reveal-modal  {
		font-size: 22px;
		line-height: .5;
		position: absolute;
		top: 8px;
		right: 11px;
		color: #aaa;
		text-decoration:none;
		text-shadow: 0 -1px 1px rbga(0,0,0,.6);
		font-weight: bold;
		cursor: pointer;
		
		} 
	
	.reveal-modal .row {
		min-width: 0;
	}
	
	/* Mobile */
		
		@media handheld, only screen and (max-width: 1023px) {
			.reveal-modal-bg { position: absolute; }
			
			.reveal-modal,
			.reveal-modal.small,
			.reveal-modal.medium,
			.reveal-modal.large,
			.reveal-modal.xlarge { width: 60%; top: 60px; left: 15%; margin-left: 0; padding: 20px; height: auto; }
		}
		
		@media handheld, only screen and (max-width: 767px) {
			.reveal-modal-bg { position: absolute; }
			
			.reveal-modal,
			.reveal-modal.small,
			.reveal-modal.medium,
			.reveal-modal.large,
			.reveal-modal.xlarge { width: 80%; top: 15px; left: 5%; margin-left: 0; padding: 20px; height: auto; }
		}
	
	
	/*
			
	NOTES
	
	Close button entity is &#215;
	
	Example markup
	
	<div id="myModal" class="reveal-modal">
		<h2>Awesome. I have it.</h2>
		<p class="lead">Your couch.  I it's mine.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ultrices aliquet placerat. Duis pulvinar orci et nisi euismod vitae tempus lorem consectetur. Duis at magna quis turpis mattis venenatis eget id diam. </p>
		<a class="close-reveal-modal">&#215;</a>
	</div>
	
	*/
	
	
/**=========================================*/


/*====Giant Reveal Modal ==================*/


.giant-reveal-modal-bg { 
		position: fixed; 
		height: 100%;
		width: 100%;
		background: #000;
		z-index: 40;
		display: none;
		top: 0;
		left: 0; 
		}
	
	.giant-reveal-modal {
		visibility: hidden;
		top: 100px; 
		left: 33.5%;
		margin-left: -300px;
		width: 860px;
		background: #eee url(../images/misc/modal-gloss.png) no-repeat -200px -80px;
		position: absolute;
		z-index: 41;
		padding: 30px 40px 34px;
		-moz-border-radius: 7px;
		-webkit-border-radius: 7px;
		border-radius: 7px;
		-moz-box-shadow: 0 0 10px rgba(0,0,0,.4);
		-webkit-box-shadow: 0 0 10px rgba(0,0,0,.4);
		box-shadow: 0 0 10px rgba(0,0,0,.4);
		}
		
	.giant-reveal-modal.small 		{ width: 200px; margin-left: -140px;}
	.giant-reveal-modal.medium 		{ width: 400px; margin-left: -240px;}
	.giant-reveal-modal.large 		{ width: 600px; margin-left: -340px;}
	.giant-reveal-modal.xlarge 		{ width: 800px; margin-left: -440px;}
	
	.giant-reveal-modal .close-giant-reveal-modal {
		font-size: 22px;
		line-height: .5;
		position: absolute;
		top: 8px;
		right: 11px;
		color: #aaa;
		text-shadow: 0 -1px 1px rbga(0,0,0,.6);
		font-weight: bold;
		cursor: pointer;
		} 
	
	.giant-reveal-modal .row {
		min-width: 0;
	}
	
	/* Mobile */
		
		@media handheld, only screen and (max-width: 1023px) {
			.giant-reveal-modal-bg { position: absolute; }
			
			.giant-reveal-modal,
			.giant-reveal-modal.small,
			.giant-reveal-modal.medium,
			.giant-reveal-modal.large,
			.giant-reveal-modal.xlarge { width: 60%; top: 60px; left: 15%; margin-left: 0; padding: 20px; height: auto; }
		}
		
		@media handheld, only screen and (max-width: 767px) {
			.giant-reveal-modal-bg { position: absolute; }
			
			.giant-reveal-modal,
			.giant-reveal-modal.small,
			.giant-reveal-modal.medium,
			.giant-reveal-modal.large,
			.giant-reveal-modal.xlarge { width: 80%; top: 15px; left: 5%; margin-left: 0; padding: 20px; height: auto; }
		}


/*========================================*/


/* CSS Document */
h1,h2
{
	color: #d0a113;
	margin-bottom: 5px;
	
}
a
{
	color:#040404;
}
a:hover
{
	color:#d0a113;
}
.navbar .brand
{
	padding-top:2px;
	padding-bottom:0px;
}
.navbar .nav .active > a
{
	border-top:5px solid #d0a113;	
	padding-top: 5px;	
}
.dropdown-menu li > a:hover, .dropdown-menu .active > a, .dropdown-menu .active > a:hover {
	background-color:#d0a113;
}


span.help-inline
{
	color: #B94A48;
}
dl.tabs.vertical dd a
{
	font-size:14px;
}

.large-btn
{
	font-size: 1.5em;
	padding: 10px 20px;
}




#main-links
{
	margin-left: 15%;
}
#et-main-links
{
	/*margin-left: 10%;*/
}
#secondary-bar
{		
	/*background: url(img/sec_bg.png) repeat-x;*/
	
	min-height: 35px;
	padding-top: 45px;
	padding-bottom: 5px;	
}

.btn-primary {
    background-color: #D0A113;
    background-image: -moz-linear-gradient(center top , #D0C52E, #D0A113);
 	background-image: -webkit-linear-gradient(top , #D0C52E, #D0A113);
	background-image: -ms-linear-gradient(top , #D0C52E, #D0A113);
	background-image: -o-linear-gradient(top , #D0C52E, #D0A113);
    background-repeat: repeat-x;
    border-color: 1px solid #cc9900;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  background-color: #D0A113;
}
.btn-primary:active,
.btn-primary.active {
  background-color: #D0A113 \9;
}
#uncompleted ul
{
	border: 1px solid #eee;
	list-style:none;
	margin-left:7px;
	font-size:95%;	
}
#uncompleted ul li
{
	padding: 5px;
}


.rounded {
	-webkit-border-radius: 8px;
	-moz-border-radius: 8;	
 	border-radius: 8px 8px 8px 8px;
	border:1px solid #EAEAEA;	
}
.mini-rounded {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5x;
	border-radius: 5px;
	border:1px solid #eeeeee;	
}

.top-rounded {
	-webkit-border-top-right-radius: 14px;
	-moz-border-radius-topright:14px;
	border-top-right-radius:14px;	
	-webkit-border-top-left-radius: 14px;
	-moz-border-radius-topleft:14px;
	border-top-left-radius:14px;		
}
.topical {margin:0; font-weight:bold;color:#333333;line-height:27px;font-size:1.4em; }
.align_right    { text-align:right;	  }
.align_left     { text-align:left;	  }
.align_center   { text-align:center;  }
.align_justify  { text-align:justify; }

.right    { float:right;	  }

.status_circles li
{
	list-style-type: none;
	float:left;
}


.picture_box
{
	border:1px solid #eeeeee;
	padding: 5px;
}
.three-quarters
{
	width: 75%;
	float: left;
}
.one-quarter 
{
	width: 25%;
	float: left;
}
.three-fifths
{
	width:60%;
	float: left;
}
.two-fifths
{
	width:40%;
	float: left;
}
.half
{
	width: 50%;
	float: left;
}

.dashboard_panel
{	
	background: #fff;	

}
.dashboard_content
{
	min-height:195px;
	border: 1px solid #f0f0f0;
	box-shadow: 0 2px 5px rgba(0,0,0,0.15);	
	-webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.15);
	-moz-box-shadow: 0 2px 5px rgba(0,0,0,0.25);
	margin: 0 0 20px 0;	
}
.db-item-row-first
{
	padding: 10px 5px 25px 5px;	
	border-bottom: 1px solid #f0f0f0;
	background:#fafafa;
}
.db-item-row
{
	padding: 10px 5px 25px 5px;
	border-bottom: 1px solid #f0f0f0;
	background:#fafafa;
}
.db-head
{
	margin-bottom: 0px;
	padding-left: 5px;	
	background: #e8e8e8;
	background: -moz-linear-gradient(top, #EEE 0%, #e8e8e8 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#EEE), color-stop(100%, #e8e8e8));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EEE', endColorstr='#e8e8e8',GradientType=0 );
	box-shadow: 0 2px 5px rgba(0,0,0,0.15);
	-webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.15);
	-moz-box-shadow: 0 2px 5px rgba(0,0,0,0.25);	
}
.notice_panel
{
	padding: 0px 0px 20px 0px;	
	background: #fff;	
	margin: 0 0 10px 0;	

}
.notice_panel_content
{
	border: 1px solid #f0f0f0;
	box-shadow: 0 2px 5px rgba(0,0,0,0.15);	
	-webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.15);
	-moz-box-shadow: 0 2px 5px rgba(0,0,0,0.25);
	margin: 0 0 20px 0;	
}
.nt-item-row-first
{
	padding: 5px;
	border-top: 1px solid #f0f0f0;
	border-bottom: 1px solid #f0f0f0;
	background:#fafafa;
	overflow:hidden;
	word-break:break-all;
}
.nt-item-row
{
	padding: 5px;
	border-bottom: 1px solid #f0f0f0;
	background:#fafafa;	
	overflow: hidden;	
	word-break:break-all;
}
.nt-head
{	
	padding: 5px;	
	background: #e8e8e8;
	background: -moz-linear-gradient(top, #EEE 0%, #e8e8e8 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#EEE), color-stop(100%, #e8e8e8));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EEE', endColorstr='#e8e8e8',GradientType=0 );	
	box-shadow: 0 2px 5px rgba(0,0,0,0.15);	
	-webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.15);
	-moz-box-shadow: 0 2px 5px rgba(0,0,0,0.25);		
}
.phone
{
	background:url(img/phone.png) no-repeat;
	width:14px;
	height:14px;
	display:inline-block;
}
.separator
{
	margin-left: 8px;
	margin-right: 8px;
	border: 1px solid #efefef;
}
.clock
{
	background:url(img/clock.png) no-repeat;
	width:14px;
	height:14px;
	display:inline-block;
}
.back
{
	background:url(img/previous.png) no-repeat;
	width:14px;
	height:11px;
	display:inline-block;
}
.ajax_update
{
background-color: #ffffce;
padding-top: 10px;
padding-right: 10px;
}
.picture_bar
{	
	clear: both;
	margin: 10px auto;	
	height: 150px;
	width: 210px;
	background: url(img/profile_silhouette.png) no-repeat;	
}
.upload_pro_pic_bar
{
	clear:both;
	background: url(img/profile_silhouette.png) no-repeat;
	border:1px dashed #ccc;
	height: 132px;
	width: 205px;
}
.not_empty
{
	background: none;
	border: none;	
}
span.required
{
	color: red;
}
.bold
{
	font-weight:bold;
}
.bordered
{
	border: 1px solid #efefef;
}
.bottom_bordered
{
	border-bottom: 1px solid #efefef;
}
.no_bottom_border
{
	border-bottom: none;
}

.offer_box
{
	border: 1px solid #eeeeee;
	min-height: 258px;
}
.offer_box:hover
{
	border: 1px solid #F0CF6C;
}

.offer_box_control
{
	margin-top:2px;
	border: 1px solid #eeeeee;
	min-height: 22px;
	padding-left: 8px;
	padding-top: 5px;
}
.plain_link
{
	padding: 3px;
	color:#999999;
	font-size:12px;
}
.plain_link:hover
{
	text-decoration:none;
	background:#2c2c2c;
	border:1px solid #d0a113;
	-moz-border-radius: 3px;
	-webkit-border-radius:3px;
	border-radius: 3px;
	color:#fff;
}
.thin_gold_border
{
	position:relative;
	top:-2px;
	left:-2px;
	border: 2px solid #F0CF6C;
}
.light_gold_border
{
	position:relative;
	top: -2px;
	border: 10px solid #F0CF6C;
}
.light_gold_border:hover
{
	border: 10px solid #F0CF6C;
}



.search-form
{
	background-color: #efefef;
	margin-top: 20px;
	border: 1px dashed #ccc;
	padding: 10px;
	width: 75%;
}
.box_shadow {
	-webkit-box-shadow: 1px 1px 3px #ccc;
	-moz-box-shadow: 1px 1px 3px #ccc;
	box-shadow: 1px 1px 3px #ccc;
	
}
.standout
{
	background:#efefef;
	border:1px dashed #ccc;
	margin:5px 0 5px 0;
	padding: 10px;
}
.no-border
{
	border:none;
}
.no-pad
{
	padding:0px;
}
.custom-label
{
	margin-right:10px;
	font-weight:bold;
}
.alt
{
	background-color: #f8f8f8;
}
.dec_box
{	
	border: 1px #EBEBEB solid;
}
.dec_box fieldset
{
	margin-bottom: 0px;
	padding-bottom: 0px;
}
.dec_row
{	
	padding: 0.6em 0.6em;
	vertical-align: top;
}
.container > header nav ul li {float:left; margin-top:12px; list-style-type:none}
.container > header nav ul li a {display:block; padding:5px 15px; border-right:1px solid #eee; font-size:1.52em; font-family:Georgia, "Times New Roman", Times, serif; color: #4C4C4C; text-decoration:none;}
.container > header nav ul li.active {
	border-top: 3px solid #D0A113;margin-top: 9px;}
.container > header nav ul li a:hover {background-color:#eee; border-right:1px solid #ccc; text-shadow:-1px -1px 0px #fff;}
.container > header nav ul li.last a {border-right:none;}
.container > header nav ul li.active {
border-top: 3px solid #D0A113;
margin-top: 9px;
}
.logo
{
	background: url(img/logo.png) no-repeat;	
}
#logo_bar
{	
	clear: both;
	margin: 10px auto;	
	height: 59px;
	width: 86px;
	background: url(img/logo_placeholder.png);
}
#langmenu
{
	margin-top: 10px;
}
#langmenu a
{
	text-decoration:none;	
	font-size:0.8em;
}

#langmenu .sep
{
	color: #eeeeee;
	font-size:1.2em;	
}


div.splash
{
	padding-top: 2.0em;
	padding-bottom: 2.0em;
}
div.splash ul
{
	margin-left: 5.0em;
}
div.splash li
{
	list-style-image:url(img/bullet_tick.png);			
	font-size: 1.1em;
	margin-bottom: 12px;
}
div.splash a:hover
{
	text-decoration:none;
}
div.points li
{	
	list-style-type:none;	
	font-size: 1.1em;
}
div.points ul
{
	margin: 0;
}
.info_alert
{
	background: url(img/circle_info.png) no-repeat left center;
	min-height: 26px;
	padding-left: 30px;
	padding-top: 10px;
}
.blue_bg
{
	background:url(img/splash_bg.jpg) repeat-x;
}
.infogrid
{	
	min-height: 280px;	
	font-size: 95%;
}
.notice_grid
{
	border-top: 5px solid #272727;
	padding-bottom:15px;
}
.infogrid h3
{
	margin-bottom: 5px;
}
.panel.infogrid ul
{
	margin-left: 20px;
}
.panel.infogrid li
{
	list-style-image:url(img/tags.png);	
	margin-bottom:2px;
	line-height:1.8em;	
}

.dashed-border
{
	border: 1px dashed #ccc;
}
#about li
{
	list-style-image:url(img/tags.png);	
	margin-bottom:2px;
	line-height:1.8em;		
}
.not_empty
{
	background: none;
	border: none;	
}
.top_logo
{	
	width:90px;
	min-height:60px;		
}
.top_logo:hover .edit_box
{
	display: block;
}


.border-bottom
{
	border-bottom:1px solid #efefef;
}
.gold-font
{
	color: #d0a113;
}
.reduced-font-size
{
	font-size:85%;
}
.sugg_cont
{
	display: none;
	width: 300px;
	position: absolute;
	left:69%;
	z-index: 20000;
}
.keyword_cont
{
	display: none;
	width: 300px;
	position: absolute;	
	z-index: 20000;
}
.center
{
	
	margin:0 auto;
}
.loading
{
	width:31px;
}
.circle {	
	border-radius: 50%;
	width: 20px;
	height: 20px; 
	/* width and height can be anything, as long as they're equal */
}
/* Create the animation blocks */
@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}

@-ms-keyframes spin {
  from { -ms-transform: rotate(0deg); }
  to { -ms-transform: rotate(360deg); }
}
.small_circle
{
  width: 15px;
  height: 15px;
}
.yellow_circular_gradient
{    
  background-image: -moz-radial-gradient(5px 5px 5deg, circle cover, yellow 0%, orange 100%, red 95%);
  background-image: -webkit-radial-gradient(5px 5px, circle cover, yellow, orange);
  background-image: radial-gradient(5px 5px 5deg, circle cover, yellow 0%, orange 100%, red 95%);
}
.red_circular_gradient
{
  background-image: -moz-radial-gradient(5px 5px 5deg, circle cover,red 0%, #D94B44 100%, red 95%);
  background-image: -webkit-radial-gradient(5px 5px, circle cover, red, #D94B44);
  background-image: radial-gradient(5px 5px 5deg, circle cover, red, #D94B44 100%, red 95%);
}
.green_circular_gradient
{
  background-image: -moz-radial-gradient(5px 5px 5deg, circle cover,#DEEEDE 0%, green 100%, red 95%);
  background-image: -webkit-radial-gradient(5px 5px, circle cover, #DEEEDE, green);
  background-image: radial-gradient(5px 5px 5deg, circle cover, #DEEEDE 0%, green 100%, red 95%);
}
/* Spinning, gradient circle; CSS only! */
.animate {  
  /* webkit chrome, safari, mobile */
  -webkit-animation-name: spin; 
  -webkit-animation-duration: 3s; /* 3 seconds */
  -webkit-animation-iteration-count: infinite; 
  -webkit-animation-timing-function: linear;

  /* mozilla ff */
  -moz-animation-name: spin; 
  -moz-animation-duration: 3s; /* 3 seconds */
  -moz-animation-iteration-count: infinite; 
  -moz-animation-timing-function: linear;

  /* microsoft ie */
  -ms-animation-name: spin; 
  -ms-animation-duration: 3s; /* 3 seconds */
  -ms-animation-iteration-count: infinite; 
  -ms-animation-timing-function: linear;
}
.ribbon-wrapper-green {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: -3px;
}

.subnav {
    border-radius: 4px 4px 4px 4px;
    font-size: 12px;
    padding: 9px 0;
    position: fixed;
    right: 20px;
    top: 150px;
    width: 210px;
    z-index: 1030;
}
.ribbon-green {
  font-family: "Helvetica Neue", "Helvetica", Arial, Verdana, sans-serif;
  font-size : 14px;
  color: #fff;
  text-align: center; 
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  background-color: #BFDC7A;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45));
  background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45);
  background-image:    -moz-linear-gradient(top, #BFDC7A, #8EBF45);
  background-image:     -ms-linear-gradient(top, #BFDC7A, #8EBF45);
  background-image:      -o-linear-gradient(top, #BFDC7A, #8EBF45);  
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon-green:before, .ribbon-green:after {
  content: "";
  border-top:   3px solid #6e8900;   
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}

.ribbon-green:before {
  left: 0;
}
.ribbon-green:after {
  right: 0;
}
/* ribbon style */

 .ribbon-wrapper {
	position: relative;
}
  .ribbon-front {
	background-color: #E3DCD0;	height: 70px;
	width: 840px;
	position: relative;
	left:-20px;
	z-index: 2;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.15), 0 65px 170px 0 #FFFFFF, 0 10px 7px -4px rgba(0, 0, 0, 0.65);
}


  .ribbon-edge-topleft,
  .ribbon-edge-topright,
  .ribbon-edge-bottomleft,
  .ribbon-edge-bottomright {
	position: absolute;
	z-index: 1;
	border-style:solid;
	height:0px;
	width:0px;
}

  .ribbon-edge-topleft,
  .ribbon-edge-topright {
}

  .ribbon-edge-bottomleft,
  .ribbon-edge-bottomright {
	top: 70px;
}

  .ribbon-edge-topleft,
  .ribbon-edge-bottomleft {
	left: -20px;
	border-color: transparent #917955 transparent transparent;
}

  .ribbon-edge-topleft {
	top: 0px;
	border-width: 0px 20px 0 0;
}
  .ribbon-edge-bottomleft {
	border-width: 0 20px 10px 0;
}

  .ribbon-edge-topright,
  .ribbon-edge-bottomright {
	left: 800px;
	border-color: transparent transparent transparent #917955;
}

  .ribbon-edge-topright {
	top: 0px;
	border-width: 0px 0 0 20px;
}
  .ribbon-edge-bottomright {
	border-width: 0 0 10px 20px;
}

  .ribbon-back-left {
	position: absolute;
	top: 10px;
	left: 0px;
	width: 0px;
	height: 70px;
		z-index: 0;
}

  .ribbon-back-right {
	position: absolute;
	top: 10px;
	right: 0px;
	width: 0px;
	height: 70px;
		z-index: 0;
}

.sugg_box
{
	position:relative;
	top:-80px;
	border: 3px solid #2d2d2d;
	background-color: #f5f5f5;
	padding: 10px;
	-webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}
.search_box_con
{
	width: 90%; 
	margin-left: 5%;
	margin-bottom:10px;	
}
#search_box
{
	padding-right:10%;
	background: #fff url(img/search_icon.png) 95% 5px no-repeat;
}
.large_search_box
{
	padding-left:35px;
	height: 30px; 
	font-size: 18px;
	background: #fff url(img/large_search_icon.png) 5px 5px no-repeat;
}
.faded
{
	color : #E8E8E8;
}

/* Tiny Scrollbar */
.tinyscroll{ width: 280px; margin: 20px 0 10px; }
.tinyscroll .viewport { width: 260px; height: 250px; overflow: hidden; position: relative; }
.tinyscroll .overview { list-style: none; position: absolute; left: 0; top: 0; padding: 0; margin: 0; width: 100%; }
.tinyscroll .scrollbar{ background: transparent url(img/bg-scrollbar-track-y.png) no-repeat 0 0; position: relative; background-position: 0 0; float: right; width: 15px; }
.tinyscroll .track { background: transparent url(img/bg-scrollbar-trackend-y.png) no-repeat 0 100%; height: 100%; width:13px; position: relative; padding: 0 1px; }
.tinyscroll .thumb { background: transparent url(img/bg-scrollbar-thumb-y.png) no-repeat 50% 100%; height: 20px; width: 25px; cursor: pointer; overflow: hidden; position: absolute; top: 0; left: -5px; }
.tinyscroll .thumb .end { background: transparent url(img/bg-scrollbar-thumb-y.png) no-repeat 50% 0; overflow: hidden; height: 5px; width: 25px; }
.tinyscroll .disable { display: none; }

.inside
{	
	border: 1px solid #E6E6E6;		
	background-color: #fff; 
	width: 90%; 
	margin-left: 5%;
	list-style:none;
	
}

.inside li
{		
	margin: 0px;	
	border-bottom:1px dotted #E6E6E6;
}
.inside li a
{
	width: 96%;
	display:block;
	padding:2%;
	color:#999;
	text-decoration:none;
	
}
.inside li:hover
{
	background-color:#f8f8f8;
	font-weight:bold;		
}
.left_arrow_border
{
	 float: left;
	 position: absolute; 
	 left: -30px; 
	 border-right: 30px solid #2d2d2d; 
	 border-top: 30px solid transparent; 
	 border-bottom: 30px solid transparent; 
	 width: 0; 
	 height: 0;
}
.left_arrow
{
	 float: left;
	 position: absolute; 
	 left: -26px; 
	 border-right: 30px solid #f5f5f5; 
	 border-top: 30px solid transparent; 
	 border-bottom: 30px solid transparent; 
	 width: 0; 
	 height: 0;
}
 .greenlinks a
{
	color: #9d971e;
}

.greenlinks a:hover
{
	text-decoration: none;
	color: #6F6A15;
}
.itemize
{
	margin-top: 20px;
	margin-left: 30px;
}
.itemize li
{
	list-style:url(img/bullet_tick.png);
}
.reveal-modal a:hover
{
	text-decoration:none;	
}


.media-section
{	
	min-height: 150px;	
}
.sidelink
{
	padding: 3px 0;
}
input:focus,
textarea:focus {
  border: 1px solid #FFD21D;
  -webkit-box-shadow: inset 0 1px 1px #FFD502, 0 0 8px #FFD400;
  -moz-box-shadow: inset 0 1px 1px #FFD502, 0 0 8px #FFD400;
  box-shadow: inset 0 1px 1px #FFD502, 0 0 8px #FFD400;
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

}
.well
{
	border: 1px solid #fff;
	background: -moz-linear-gradient(center top , #EFEFEF, #E8E8E8);
	background: -webkit-linear-gradient(top , #EFEFEF, #E8E8E8);
	background: -ms-linear-gradient(top , #EFEFEF, #E8E8E8);
	background: -o-linear-gradient(top , #EFEFEF, #E8E8E8);
	/* Safari 4-5, Chrome 1-9 */
	 background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EFEFEF), to(#E8E8E8));
	 /* Safari 5.1, Chrome 10+ */
	 background: -webkit-linear-gradient(top, #EFEFEF, #E8E8E8);
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.35), 0 85px 180px 0 #FFFFFF, 0 12px 8px -5px rgba(0, 0, 0, 0.85);
	font-size: 15px;
}
.nav-list > .active > a, .nav-list > .active > a:hover
{
	background: #D0A113;
}
.picture_frame
{	
	border: 4px solid #FFFFFF;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.35), 0 85px 180px 0 #FFFFFF, 0 12px 8px -5px rgba(0, 0, 0, 0.85);
}
.picture_frame_mini
{		
	/* background:  #F6F2EC; */
	
	background: -moz-linear-gradient(center top , #F6F2EC, #E2DBCE);
	background: -webkit-linear-gradient(top , #F6F2EC, #E2DBCE);
	background: -ms-linear-gradient(top , #F6F2EC, #E2DBCE);
	background: -o-linear-gradient(top , #F6F2EC, #E2DBCE);
	/* Safari 4-5, Chrome 1-9 */
	 background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F6F2EC), to(#E2DBCE));
	 /* Safari 5.1, Chrome 10+ */
	 background: -webkit-linear-gradient(top, #F6F2EC, #E2DBCE);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.25), 0 55px 150px 0 #FFFFFF, 0 9px 5px -2px rgba(0, 0, 0, 0.55);
	border: 1px solid #FFFFFF;	
}
.frame
{		
	background-color: #F5F5F5;
	border: 1px solid #FFFFFF;	
}
.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;    
}

/*=================================Cover flip styling ============================*/

 .ui-jcoverflip {
        position: relative;
      }
      
      .ui-jcoverflip--item {
        position: absolute;
        display: block;
      }
      
      /* Basic sample CSS */
      #flip {
        height: 250px;
        width: 650px;
        margin-bottom: 50px;
		
      }
      
      #flip .ui-jcoverflip--title {
        position: absolute;
        bottom: -30px;
        width: 100%;
        text-align: center;
        color: #555;
      }
      
      #flip img {
        display: block;
        border: 0;
        outline: none;
      }
      
      #flip a {
        outline: none;
      }
      
      
      #wrapper {
        height: 350px;
        width: 100%;
        overflow: hidden;
        position: relative;
		background-color:#F8F8F8;		
      }
      
      .ui-jcoverflip--item {
        cursor: pointer;
      } 
      
   
      
      #scrollbar {
        position: absolute;
        left: 20px;
        right: 20px;
        
      }

	
/*==================================End of Cover flip styling ===================*/

